
@{
    ViewBag.Title = "Index";
}

<div role="main" ng-controller="advisoryController as vm" ng-init="init()">
        <h3>General Advisory</h3>

    <div class="form-group">
        <button class="btn btn-primary" data-target="#advisoryModal" data-toggle="modal"
                ng-show="main.CurrentUser.AccessLevel == 'A'">New Advisory</button>
    </div>

        <div ng-repeat="ad in vm.Advisory | filter: {Status: '!X'}">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ad.Title}}</h2>
                    <button class="btn btn-danger btn-xs" ng-show="main.CurrentUser.AccessLevel == 'A'"
                            data-target="#deleteModal" data-toggle="modal" ng-click="selectAdvisory(ad)">Delete</button>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="form-group">
                        <small>{{ad.ShowModifiedDate}}</small>
                        <br />
                        <pre>{{ad.Message}}</pre>
                    </div>
                </div>
            </div>
        </div>


    <div class="modal fade" id="advisoryModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Advisory</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="vm.Modal.Title" />
                    </div>

                    <div class="form-group">
                        <label>Content</label>
                        <textarea class="form-control" rows="6" ng-model="vm.Modal.Message"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-success" ng-click="saveAdvisory(vm.Modal)">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure you want to Delete?</h4>
                </div>

                <div class="modal-body">
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="DeleteAdvisory()">Yes</button>
                    <button class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>