
@{
    ViewBag.Title = "TableOfFees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" ng-controller="pricingAndFinancialController as vm" ng-init="initTableOfFees()">
    <div class="modal fade" id="timeModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Time Stamp</h4>
                </div><!--./modal header-->

                <div class="modal-body">
                    <div class="form-group">
                       <label>{{vm.Time.ShowModifiedBy}} - {{vm.Time.ShowModifiedDate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure you want to Delete?</h4>
                </div><!--./modal header-->

                <div class="modal-body">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" ng-click="DeleteTableFees()">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="feesModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Table Of Fee</h4>
                </div><!--./modal header-->

                <div class="modal-body">
                    <div class="form-group">


                        <label>Description</label>
                        <input type="text" class="form-control" ng-model="vm.Modal.Description" />
                    </div>

                    <div class="form-group">
                        <label>Category</label>
                        <select class="select2_single form-control" style="width:100%" ng-model="vm.Modal.Category"
                                ng-options="item.value as item.label for item in FeesCategory"></select>
                    </div>

                    <div class="form-group">
                        <label>(PHP) GDS</label>
                        <input type="number" class="form-control" ng-model="vm.Modal.PHPTraditionalGDS" />
                    </div>

                    <div class="form-group">
                        <label>(PHP) Non-GDS</label>
                        <input type="number" class="form-control" ng-model="vm.Modal.PHPNonGDS" />
                    </div>

                    <div class="form-group">
                        <label>(PHP) Mice</label>
                        <input type="number" class="form-control" ng-model="vm.Modal.PHPMice" />
                    </div>

                    <div class="form-group">
                        <label>(PHP) Online</label>
                        <input type="number" class="form-control" ng-model="vm.Modal.PHPOnline" />
                    </div>

                    <div class="form-group">
                        <label>(USD) GDS</label>
                        <input type="number" class="form-control" ng-model="vm.Modal.USDTraditionalGDS" />
                    </div>

                    <div class="form-group">
                        <label>(USD) Non-GDS</label>
                        <input type="number" class="form-control" ng-model="vm.Modal.USDNonGDS" />
                    </div>

                    <div class="form-group">
                        <label>(USD) Mice</label>
                        <input type="number" class="form-control" ng-model="vm.Modal.USDMice" />
                    </div>

                    <div class="form-group">
                        <label>(USD) Online</label>
                        <input type="number" class="form-control" ng-model="vm.Modal.USDOnline" />
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-success" ng-click="SaveTableOfFees(vm.Modal)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>Table Of Service Fees</h3>

    <div class="x_content">
        <div class="form-group">
            <table id="feesTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'" style="width:77px;">
                            <button type="button" class="btn btn-success btn-xs" data-toggle="modal"
                                    data-target="#feesModal" ng-click="ClearModal()"><i class="fa fa-plus"></i></button>
                        </th>
                        <th>Description</th>
                        <th style="width:80px;">(PHP) GDS</th>
                        <th style="width:80px;">(PHP) Non-GDS</th>
                        <th style="width:80px;">(PHP) Mice</th>
                        <th style="width:80px;">(PHP) Online</th>
                        <th style="width:80px;">(USD) GDS</th>
                        <th style="width:80px;">(USD) Non-GDS</th>
                        <th style="width:80px;">(USD) Mice</th>
                        <th style="width:80px;">(USD) Online</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody style="overflow:auto">
                    <tr>
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                        <th style="font-style:italic; color:palevioletred">Ticket Issuance Fee</th>

                    </tr>
                    <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Ticket Issuance Fees'} | filter: {Status: '!X'} | orderBy: 'Description'">
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'"> 
                            <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#feesModal">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#deleteModal">
                                <i class="fa fa-close"></i>
                            </button>
                        </th>
                        <th>{{fees.Description}}</th>
                        <th>{{fees.ShowPHPTraditionalGDS}}</th>
                        <th>{{fees.ShowPHPNonGDS}}</th>
                        <th>{{fees.ShowPHPMice}}</th>
                        <th>{{fees.ShowPHPOnline}}</th>
                        <th>{{fees.ShowUSDTraditionalGDS}}</th>
                        <th>{{fees.ShowUSDNonGDS}}</th>
                        <th>{{fees.ShowUSDMice}}</th>
                        <th>{{fees.ShowUSDOnline}}</th>
                        <th><button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                    data-toggle="modal" data-target="#timeModal"><i class="fa fa-clock-o"></i></button></th>
                    </tr>
                 
                    <tr>
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                        <th class="tablecategory">Re-Issuance Fees</th>
                    </tr>

                    <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Re-Issuance Fees'} | filter: {Status: '!X'} | orderBy: 'Description'">
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                            <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#feesModal">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#deleteModal">
                                <i class="fa fa-close"></i>
                            </button>
                        </th>
                        <th>{{fees.Description}}</th>
                        <th>{{fees.ShowPHPTraditionalGDS}}</th>
                        <th>{{fees.ShowPHPNonGDS}}</th>
                        <th>{{fees.ShowPHPMice}}</th>
                        <th>{{fees.ShowPHPOnline}}</th>
                        <th>{{fees.ShowUSDTraditionalGDS}}</th>
                        <th>{{fees.ShowUSDNonGDS}}</th>
                        <th>{{fees.ShowUSDMice}}</th>
                        <th>{{fees.ShowUSDOnline}}</th>
                        <th>
                            <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                    data-toggle="modal" data-target="#timeModal">
                                <i class="fa fa-clock-o"></i>
                            </button>
                        </th>
                    </tr>

                    <tr>
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                        <th class="tablecategory">Revalidation Fees</th>
                    </tr>

                    <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Revalidation Fees'} | filter: {Status: '!X'} | orderBy: 'Description'">
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                            <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#feesModal">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#deleteModal">
                                <i class="fa fa-close"></i>
                            </button>
                        </th>
                        <th>{{fees.Description}}</th>
                        <th>{{fees.ShowPHPTraditionalGDS}}</th>
                        <th>{{fees.ShowPHPNonGDS}}</th>
                        <th>{{fees.ShowPHPMice}}</th>
                        <th>{{fees.ShowPHPOnline}}</th>
                        <th>{{fees.ShowUSDTraditionalGDS}}</th>
                        <th>{{fees.ShowUSDNonGDS}}</th>
                        <th>{{fees.ShowUSDMice}}</th>
                        <th>{{fees.ShowUSDOnline}}</th>
                        <th>
                            <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                    data-toggle="modal" data-target="#timeModal">
                                <i class="fa fa-clock-o"></i>
                            </button>
                        </th>
                    </tr>

                    <tr>
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                        <th class="tablecategory">Refund Fees</th>
                    </tr>

                    <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Refund Fees'} | filter: {Status: '!X'} | orderBy: 'Description'">
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                            <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#feesModal">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#deleteModal">
                                <i class="fa fa-close"></i>
                            </button>
                        </th>
                        <th>{{fees.Description}}</th>
                        <th>{{fees.ShowPHPTraditionalGDS}}</th>
                        <th>{{fees.ShowPHPNonGDS}}</th>
                        <th>{{fees.ShowPHPMice}}</th>
                        <th>{{fees.ShowPHPOnline}}</th>
                        <th>{{fees.ShowUSDTraditionalGDS}}</th>
                        <th>{{fees.ShowUSDNonGDS}}</th>
                        <th>{{fees.ShowUSDMice}}</th>
                        <th>{{fees.ShowUSDOnline}}</th>
                        <th>
                            <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                    data-toggle="modal" data-target="#timeModal">
                                <i class="fa fa-clock-o"></i>
                            </button>
                        </th>
                    </tr>

                    <tr>
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                        <th class="tablecategory">Other Air Fees</th>
                    </tr>

                    <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Other Air Fees'} | filter: {Status: '!X'} | orderBy: 'Description'">
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                            <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#feesModal">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#deleteModal">
                                <i class="fa fa-close"></i>
                            </button>
                        </th>
                        <th>{{fees.Description}}</th>
                        <th>{{fees.ShowPHPTraditionalGDS}}</th>
                        <th>{{fees.ShowPHPNonGDS}}</th>
                        <th>{{fees.ShowPHPMice}}</th>
                        <th>{{fees.ShowPHPOnline}}</th>
                        <th>{{fees.ShowUSDTraditionalGDS}}</th>
                        <th>{{fees.ShowUSDNonGDS}}</th>
                        <th>{{fees.ShowUSDMice}}</th>
                        <th>{{fees.ShowUSDOnline}}</th>
                        <th>
                            <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                    data-toggle="modal" data-target="#timeModal">
                                <i class="fa fa-clock-o"></i>
                            </button>
                        </th>
                    </tr>

                    <tr>
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                        <th class="tablecategory">Travel Insurance</th>
                    </tr>

                    <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Travel Insurance'} | filter: {Status: '!X'} | orderBy: 'Description'">
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                            <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#feesModal">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#deleteModal">
                                <i class="fa fa-close"></i>
                            </button>
                        </th>
                        <th>{{fees.Description}}</th>
                        <th>{{fees.ShowPHPTraditionalGDS}}</th>
                        <th>{{fees.ShowPHPNonGDS}}</th>
                        <th>{{fees.ShowPHPMice}}</th>
                        <th>{{fees.ShowPHPOnline}}</th>
                        <th>{{fees.ShowUSDTraditionalGDS}}</th>
                        <th>{{fees.ShowUSDNonGDS}}</th>
                        <th>{{fees.ShowUSDMice}}</th>
                        <th>{{fees.ShowUSDOnline}}</th>
                        <th>
                            <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                    data-toggle="modal" data-target="#timeModal">
                                <i class="fa fa-clock-o"></i>
                            </button>
                        </th>
                    </tr>

                
                </tbody>    <tr>
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                        <th class="tablecategory">After Office Hours Fees</th>
                    </tr>

                    <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'After Office Hours Fees'} | filter: {Status: '!X'} | orderBy: 'Description'">
                        <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                            <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#feesModal">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                    data-target="#deleteModal">
                                <i class="fa fa-close"></i>
                            </button>
                        </th>
                        <th>{{fees.Description}}</th>
                        <th>{{fees.ShowPHPTraditionalGDS}}</th>
                        <th>{{fees.ShowPHPNonGDS}}</th>
                        <th>{{fees.ShowPHPMice}}</th>
                        <th>{{fees.ShowPHPOnline}}</th>
                        <th>{{fees.ShowUSDTraditionalGDS}}</th>
                        <th>{{fees.ShowUSDNonGDS}}</th>
                        <th>{{fees.ShowUSDMice}}</th>
                        <th>{{fees.ShowUSDOnline}}</th>
                        <th>
                            <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                    data-toggle="modal" data-target="#timeModal">
                                <i class="fa fa-clock-o"></i>
                            </button>
                        </th>
                    </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">GDS Hotel, Car, Rail, Ferry Only: Booked after ticket issuance</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'GDS Hotel, Car, Rail Ferry Only'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">Service Voucher / Payment billback (hotel, car, others)</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Service Voucher'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">Local Transfer</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Local Transfer'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">Other MICE Service fees</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Other MICE Service fees'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">Online Booking Tool</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Online Booking Tool'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">Visa / Passport / Others</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Visa/Passport/Others'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">Pickup and Delivery (During office hours)</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Pickup and Delivery'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">Loyalty Programme Booking</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Loyalty Programme Booking'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">Airport Assistance</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Airport Assistance'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">Accounting</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Accounting'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'"></th>
                    <th class="tablecategory">Account Management</th>
                </tr>

                <tr ng-repeat="fees in vm.TableOfFees | filter: {Category: 'Account Management'} | filter: {Status: '!X'} | orderBy: 'Description'">
                    <th ng-show="main.CurrentUser.AccessLevel == 'A'">
                        <button type="button" class="btn btn-info btn-xs"  ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#feesModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="OpenTableFees(fees)" data-toggle="modal"
                                data-target="#deleteModal">
                            <i class="fa fa-close"></i>
                        </button>
                    </th>
                    <th>{{fees.Description}}</th>
                    <th>{{fees.ShowPHPTraditionalGDS}}</th>
                    <th>{{fees.ShowPHPNonGDS}}</th>
                    <th>{{fees.ShowPHPMice}}</th>
                    <th>{{fees.ShowPHPOnline}}</th>
                    <th>{{fees.ShowUSDTraditionalGDS}}</th>
                    <th>{{fees.ShowUSDNonGDS}}</th>
                    <th>{{fees.ShowUSDMice}}</th>
                    <th>{{fees.ShowUSDOnline}}</th>
                    <th>
                        <button type="button" class="btn btn-default btn-xs" ng-click="AssignTime(fees)"
                                data-toggle="modal" data-target="#timeModal">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>