USE [Echo]
GO
/****** Object:  StoredProcedure [dbo].[BillingStatement]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BillingStatement]
(
	@AssocID uniqueidentifier
)
AS
select assoc.UnitNumber, tenant.FirstName, tenant.LastName, assoc.ChargeDate,
assoc.AssociationDue, assoc.WaterBillTotalDue, assoc.OtherPenalty, assoc.OtherPenaltyAmount,
assoc.Penalty, assoc.WaterCurrentReading, assoc.WaterPreviousReading, assoc.WaterDate, assoc.TotalAmount from MonthlyAssociationDue as assoc
LEFT JOIN UnitProfile as unit
on unit.UnitNumber = assoc.UnitNumber
LEFT JOIN TenantProfile as tenant
on unit.Tenant = tenant.ID where assoc.ID=@AssocID


GO
/****** Object:  StoredProcedure [dbo].[MonthlyAssocPaymentHistory]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MonthlyAssocPaymentHistory]
(
@UnitNo varchar(10)
)
AS
SELECT * FROM MonthlyAssociationDue
WHERE UnitNumber = @UnitNo
ORDER BY ChargeDate DESC


GO
/****** Object:  StoredProcedure [dbo].[Receipt]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Receipt]
(
	@paymentHistoryID uniqueidentifier
)
AS
select assoc.AssociationDue, assoc.WaterBillTotalDue,
payment.Balance, payment.TotalPayment, assoc.TotalAmount, assoc.ReceiptNo from PaymentHistory as payment
left join MonthlyAssociationDue as assoc 
ON assoc.ID = payment.MonthlyAssocID
where payment.ID = @paymentHistoryID

GO
/****** Object:  StoredProcedure [dbo].[ReservationReceipt]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReservationReceipt]
(
	@paymentHistoryID uniqueidentifier
)
AS
select
payment.Balance, payment.TotalPayment, reserv.Facility,  reserv.ReceiptNo, reserv.UnitNumber,
reserv.Purpose, reserv.NoOfGuest, reserv.Amount, reserv.DateOfFuntion

from PaymentHistory as payment
left join Reservation as reserv 
ON reserv.ID = payment.ReservationID
where payment.ID = @paymentHistoryID
GO
/****** Object:  StoredProcedure [dbo].[TenancyDatabaseByOccupancyYear]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TenancyDatabaseByOccupancyYear]
(
	@StartDate datetime,
	@EndDate datetime
)
AS
SELECT tenant.UnitNumber, unit.StartOfOccupancy, unit.ExpectedEndOfOccupancy, unit.NatureOfOccupancy,
unitowner.FirstName as OwnerFirstName, unitowner.LastName as OwnerLastName, unittenant.FirstName as TenantFirstName, 
unittenant.LastName as TenantLastName FROM TenantProfile as tenant
LEFT JOIN UnitProfile as unit
ON tenant.UnitNumber = unit.UnitNumber
LEFT JOIN TenantProfile as unitowner
on unit.Owner = unitowner.ID
LEFT JOIN TenantProfile as unittenant
ON unit.Tenant = unittenant.ID

WHERE tenant.StartOfOccupancy between @StartDate and @EndDate
AND tenant.Status = 'Y'
ORDER BY tenant.LastName ASC


GO
/****** Object:  StoredProcedure [dbo].[UnitAll]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UnitAll]
AS
SELECT unit.UnitNumber, unit.StartOfOccupancy, unit.ExpectedEndOfOccupancy, 
unit.NatureOfOccupancy, unit.Type, unit.Floor, owner.FirstName as OwnerFirstName, 
owner.LastName as OwnerLastName, tenant.FirstName as TenantFirstName,
tenant.LastName as TenantLastName
FROM UnitProfile as unit
LEFT JOIN TenantProfile as owner
ON owner.ID = unit.Owner
LEFT JOIN TenantProfile as tenant
ON tenant.ID = unit.Tenant


GO
/****** Object:  StoredProcedure [dbo].[UnitAllAvailable]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UnitAllAvailable]
AS
SELECT unit.UnitNumber, unit.StartOfOccupancy, unit.ExpectedEndOfOccupancy, 
unit.NatureOfOccupancy, unit.Type, unit.Floor, owner.FirstName as OwnerFirstName, 
owner.LastName as OwnerLastName, tenant.FirstName as TenantFirstName,
tenant.LastName as TenantLastName
FROM UnitProfile as unit
LEFT JOIN TenantProfile as owner
ON owner.ID = unit.Owner
LEFT JOIN TenantProfile as tenant
ON tenant.ID = unit.Tenant
WHERE unit.Tenant IS NULL


GO
/****** Object:  StoredProcedure [dbo].[UnitAllOccupied]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UnitAllOccupied]
AS
SELECT unit.UnitNumber, unit.StartOfOccupancy, unit.ExpectedEndOfOccupancy, 
unit.NatureOfOccupancy, unit.Type, unit.Floor, owner.FirstName as OwnerFirstName, 
owner.LastName as OwnerLastName, tenant.FirstName as TenantFirstName,
tenant.LastName as TenantLastName
FROM UnitProfile as unit
LEFT JOIN TenantProfile as owner
ON owner.ID = unit.Owner
LEFT JOIN TenantProfile as tenant
ON tenant.ID = unit.Tenant
WHERE unit.Tenant IS NOT NULL


GO
/****** Object:  StoredProcedure [dbo].[UserList]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserList]
AS
Select * From UserProfile


GO
/****** Object:  StoredProcedure [dbo].[WaterBillingPaymentHistory]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WaterBillingPaymentHistory]
(
	@UnitNo varchar(10)
)
AS
SELECT * FROM WaterBilling
WHERE UnitNumber = @UnitNo
ORDER BY ChargeDate DESC


GO
/****** Object:  Table [dbo].[LogSheet]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogSheet](
	[ID] [uniqueidentifier] NOT NULL,
	[Item] [varchar](150) NULL,
	[Quantity] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LogSheet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LogSheetActivity]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogSheetActivity](
	[ID] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NULL,
	[ItemID] [uniqueidentifier] NULL,
	[Balance] [int] NULL,
	[Quantity] [int] NULL,
	[Purpose] [varchar](150) NULL,
	[Area] [varchar](100) NULL,
	[IssuedBy] [uniqueidentifier] NULL,
	[ReceivedBy] [varchar](150) NULL,
 CONSTRAINT [PK_LogSheetActivity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MonthlyAssociationDue]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MonthlyAssociationDue](
	[ID] [uniqueidentifier] NOT NULL,
	[UnitNumber] [varchar](5) NULL,
	[ChargeDate] [date] NULL,
	[DueDate] [date] NULL,
	[AssociationDue] [decimal](18, 2) NULL,
	[WaterBillTotalDue] [decimal](18, 2) NULL,
	[Discounts] [decimal](18, 2) NULL,
	[Penalty] [decimal](18, 2) NULL,
	[OtherPenalty] [varchar](100) NULL,
	[OtherPenaltyAmount] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Balance] [decimal](18, 2) NULL,
	[Paid] [decimal](18, 2) NULL,
	[WaterCurrentReading] [varchar](50) NULL,
	[WaterPreviousReading] [varchar](50) NULL,
	[WaterDate] [date] NULL,
	[ReceiptNo] [varchar](10) NULL,
	[RefNo] [varchar](10) NULL,
 CONSTRAINT [PK_MonthlyAssociationDue] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentHistory]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentHistory](
	[ID] [uniqueidentifier] NOT NULL,
	[ChargeDate] [datetime] NULL,
	[TotalPayment] [decimal](18, 2) NULL,
	[MonthlyAssocID] [uniqueidentifier] NULL,
	[Payable] [decimal](18, 2) NULL,
	[Balance] [decimal](18, 2) NULL,
	[UnitNumber] [varchar](10) NULL,
	[ReservationID] [uniqueidentifier] NULL,
	[Date] [datetime] NULL,
	[Type] [varchar](50) NULL,
 CONSTRAINT [PK_PaymentHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Request]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Request](
	[ID] [uniqueidentifier] NOT NULL,
	[Project] [varchar](200) NOT NULL,
	[UnitNumber] [varchar](5) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Owner] [varchar](200) NOT NULL,
	[ContactNo] [varchar](10) NULL,
	[ScheduleDate] [datetime] NOT NULL,
	[Time] [varchar](10) NOT NULL,
	[Request1] [varchar](200) NULL,
	[Request2] [varchar](200) NULL,
	[Request3] [varchar](200) NULL,
	[Request4] [varchar](200) NULL,
	[TicketNo] [varchar](10) NULL,
	[Remarks] [varchar](300) NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reservation](
	[ID] [uniqueidentifier] NOT NULL,
	[Facility] [varchar](50) NOT NULL,
	[UnitNumber] [varchar](10) NOT NULL,
	[Purpose] [varchar](200) NOT NULL,
	[DateOfFuntion] [date] NOT NULL,
	[NoOfGuest] [varchar](3) NULL,
	[Time] [varchar](10) NULL,
	[ContactNo] [varchar](20) NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[Balance] [decimal](18, 2) NULL,
	[Paid] [decimal](18, 2) NULL,
	[Status] [varchar](20) NULL,
	[ReceiptNo] [varchar](10) NULL,
	[RefNo] [varchar](10) NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TenantArchive]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TenantArchive](
	[ID] [uniqueidentifier] NOT NULL,
	[UnitNumber] [varchar](5) NULL,
	[StartOfOccupancy] [datetime] NULL,
	[EndOfOccupancy] [datetime] NULL,
	[NatureOfOccupancy] [varchar](150) NULL,
	[TenantID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TenantArchive] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TenantProfile]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TenantProfile](
	[ID] [uniqueidentifier] NOT NULL,
	[Username] [varchar](100) NULL,
	[FirstName] [varchar](100) NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[DateOfBirth] [datetime] NULL,
	[MaritalStatus] [varchar](100) NULL,
	[NatureOfOccupancy] [varchar](150) NULL,
	[HomeAddress] [varchar](300) NULL,
	[ProvincialAddress] [varchar](300) NULL,
	[MobileNo] [varchar](15) NULL,
	[TelephoneNo] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
	[WithOtherOccupants] [varchar](1) NULL,
	[WithPets] [varchar](1) NULL,
	[WithFireExtinguisher] [varchar](1) NULL,
	[Password] [varchar](50) NULL,
	[ImageLocation] [image] NULL,
	[UnitNumber] [varchar](5) NULL,
	[Status] [varchar](1) NULL,
	[OtherName1] [varchar](150) NULL,
	[OtherRelation1] [varchar](100) NULL,
	[OtherDateOfBirth1] [datetime] NULL,
	[OtherName2] [varchar](150) NULL,
	[OtherRelation2] [varchar](100) NULL,
	[OtherDateOfBirth2] [datetime] NULL,
	[OtherName3] [varchar](150) NULL,
	[OtherRelation3] [varchar](100) NULL,
	[OtherDateOfBirth3] [datetime] NULL,
	[PetQuantity] [varchar](2) NULL,
	[PetType] [varchar](100) NULL,
	[PetBreed] [varchar](100) NULL,
	[PetName] [varchar](300) NULL,
	[StartOfOccupancy] [datetime] NULL,
	[EndOfOccupancy] [datetime] NULL,
	[ChangePassword] [varchar](1) NULL,
 CONSTRAINT [PK_TenantProfile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UnitProfile]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UnitProfile](
	[UnitNumber] [varchar](5) NOT NULL,
	[StartOfOccupancy] [datetime] NULL,
	[ExpectedEndOfOccupancy] [datetime] NULL,
	[Owner] [uniqueidentifier] NULL,
	[Tenant] [uniqueidentifier] NULL,
	[NatureOfOccupancy] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Floor] [varchar](3) NULL,
 CONSTRAINT [PK_UnitProfile] PRIMARY KEY CLUSTERED 
(
	[UnitNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserProfile](
	[ID] [uniqueidentifier] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[MaritalStatus] [varchar](100) NOT NULL,
	[HomeAddress] [varchar](300) NOT NULL,
	[ProvincialAddress] [varchar](300) NULL,
	[Password] [varchar](100) NOT NULL,
	[MobileNo] [varchar](15) NULL,
	[TelephoneNo] [varchar](10) NULL,
	[Email] [varchar](100) NOT NULL,
	[ContactPerson] [varchar](150) NULL,
	[ContactNo] [varchar](15) NULL,
	[RelationshipToContact] [varchar](100) NULL,
	[ImageContent] [image] NULL,
	[Status] [varchar](1) NULL,
	[Type] [varchar](20) NULL,
	[IfGeneratedPassword] [varchar](1) NULL,
	[FullName] [varchar](300) NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WaterBilling]    Script Date: 6/17/2016 5:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WaterBilling](
	[ID] [uniqueidentifier] NOT NULL,
	[UnitNumber] [varchar](5) NULL,
	[ChargeDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[CurrentReading] [varchar](100) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[OverdueAmount] [decimal](18, 2) NULL,
	[DisconnectionFee] [decimal](18, 2) NULL,
	[PreviousReading] [varchar](100) NULL,
	[PreviousAmount] [decimal](18, 2) NULL,
	[Paid] [decimal](18, 2) NULL,
	[Balance] [decimal](18, 2) NULL,
 CONSTRAINT [PK_WaterBilling] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LogSheet] ([ID], [Item], [Quantity], [DateModified], [ModifiedBy]) VALUES (N'c4ed2ab1-4582-4be5-9f35-2ecb33fb42ea', N'GE CIRCULAR BULB 20W', 50, NULL, NULL)
INSERT [dbo].[LogSheet] ([ID], [Item], [Quantity], [DateModified], [ModifiedBy]) VALUES (N'e1221b27-0ac9-4313-9f8a-86c83e3974d6', N'CD-R KING LED BULB 5W', 93, CAST(N'2016-05-09 15:03:59.650' AS DateTime), N'13d14d70-2325-4163-928a-3f104fde431b')
INSERT [dbo].[LogSheetActivity] ([ID], [Date], [ItemID], [Balance], [Quantity], [Purpose], [Area], [IssuedBy], [ReceivedBy]) VALUES (N'0d644795-8ab0-4944-862f-41477a62da0f', CAST(N'2016-05-09 16:06:30.690' AS DateTime), N'c4ed2ab1-4582-4be5-9f35-2ecb33fb42ea', 5, 50, N'Room', N'RM 2001', N'13d14d70-2325-4163-928a-3f104fde431b', N'Ramil Ignacio')
INSERT [dbo].[LogSheetActivity] ([ID], [Date], [ItemID], [Balance], [Quantity], [Purpose], [Area], [IssuedBy], [ReceivedBy]) VALUES (N'd9fd294e-4865-40ef-b829-bcbf69b128bc', CAST(N'2016-05-09 16:10:36.997' AS DateTime), N'e1221b27-0ac9-4313-9f8a-86c83e3974d6', 5, 98, N'g', N'g', N'13d14d70-2325-4163-928a-3f104fde431b', N'g')
INSERT [dbo].[LogSheetActivity] ([ID], [Date], [ItemID], [Balance], [Quantity], [Purpose], [Area], [IssuedBy], [ReceivedBy]) VALUES (N'0328b28d-172c-41c6-b6e5-dcad18ed172d', CAST(N'2016-05-09 16:08:03.803' AS DateTime), N'c4ed2ab1-4582-4be5-9f35-2ecb33fb42ea', 5, 50, N'a', N'a', N'13d14d70-2325-4163-928a-3f104fde431b', N'a')
INSERT [dbo].[PaymentHistory] ([ID], [ChargeDate], [TotalPayment], [MonthlyAssocID], [Payable], [Balance], [UnitNumber], [ReservationID], [Date], [Type]) VALUES (N'76925ffe-9640-4e6c-83e4-090c7738222d', CAST(N'2016-06-17 10:35:17.010' AS DateTime), CAST(5500.00 AS Decimal(18, 2)), NULL, CAST(5500.00 AS Decimal(18, 2)), CAST(-5500.00 AS Decimal(18, 2)), N'3001', N'7ecd4bf6-e823-42af-b17a-0535007b88ac', CAST(N'2016-06-17 10:35:43.220' AS DateTime), N'ASSOC')
INSERT [dbo].[PaymentHistory] ([ID], [ChargeDate], [TotalPayment], [MonthlyAssocID], [Payable], [Balance], [UnitNumber], [ReservationID], [Date], [Type]) VALUES (N'db8c8eae-dbf7-4087-be3f-14181fde2d7e', CAST(N'2016-06-17 10:24:29.447' AS DateTime), CAST(5500.00 AS Decimal(18, 2)), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(-5500.00 AS Decimal(18, 2)), N'3001', N'8e237e3a-a457-42f5-8bea-bc31312f06d1', CAST(N'2016-06-17 10:25:14.523' AS DateTime), N'ASSOC')
INSERT [dbo].[PaymentHistory] ([ID], [ChargeDate], [TotalPayment], [MonthlyAssocID], [Payable], [Balance], [UnitNumber], [ReservationID], [Date], [Type]) VALUES (N'8cf0bbbf-62ef-410f-b808-54f556a8b470', CAST(N'2016-06-17 10:37:42.123' AS DateTime), CAST(4000.00 AS Decimal(18, 2)), NULL, CAST(4000.00 AS Decimal(18, 2)), CAST(-4000.00 AS Decimal(18, 2)), N'3001', N'e16504ab-7eb9-4698-a74d-cf5a795a1935', CAST(N'2016-06-17 10:38:06.330' AS DateTime), N'ASSOC')
INSERT [dbo].[Request] ([ID], [Project], [UnitNumber], [Date], [Owner], [ContactNo], [ScheduleDate], [Time], [Request1], [Request2], [Request3], [Request4], [TicketNo], [Remarks], [Status]) VALUES (N'7fd8b0b5-5560-413b-a029-823e09e45a02', N'Inspection', N'2001', CAST(N'2016-05-09 22:34:49.023' AS DateTime), N'Royce Stephan Ignacio', N'2342', CAST(N'2016-05-11 22:34:36.000' AS DateTime), N'2:00PM', N'awra', N'', N'', N'', NULL, NULL, NULL)
INSERT [dbo].[Request] ([ID], [Project], [UnitNumber], [Date], [Owner], [ContactNo], [ScheduleDate], [Time], [Request1], [Request2], [Request3], [Request4], [TicketNo], [Remarks], [Status]) VALUES (N'0030c100-46ee-4273-b54c-918691f144c5', N'Inspection', N'2001', CAST(N'2016-06-05 12:08:05.863' AS DateTime), N'N/A', N'9175214703', CAST(N'2016-06-07 12:07:37.000' AS DateTime), N'7:00PM', N'General Room Cleaning', N'', N'', N'', NULL, NULL, NULL)
INSERT [dbo].[Request] ([ID], [Project], [UnitNumber], [Date], [Owner], [ContactNo], [ScheduleDate], [Time], [Request1], [Request2], [Request3], [Request4], [TicketNo], [Remarks], [Status]) VALUES (N'8319cd8a-a3cd-4a01-beab-e210235230fa', N'Repair', N'2001', CAST(N'2016-06-05 12:08:28.740' AS DateTime), N'N/A', N'', CAST(N'2016-06-16 12:08:10.000' AS DateTime), N'8:00PM', N'212', N'12', N'12', N'12', NULL, NULL, NULL)
INSERT [dbo].[Reservation] ([ID], [Facility], [UnitNumber], [Purpose], [DateOfFuntion], [NoOfGuest], [Time], [ContactNo], [Date], [Amount], [Balance], [Paid], [Status], [ReceiptNo], [RefNo]) VALUES (N'7ecd4bf6-e823-42af-b17a-0535007b88ac', N'Function Room', N'3001', N'34534', CAST(N'2016-06-20' AS Date), N'6', N'9:00AM', N'346', CAST(N'2016-06-17 10:35:17.010' AS DateTime), CAST(5500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5500.00 AS Decimal(18, 2)), N'To Start', NULL, NULL)
INSERT [dbo].[Reservation] ([ID], [Facility], [UnitNumber], [Purpose], [DateOfFuntion], [NoOfGuest], [Time], [ContactNo], [Date], [Amount], [Balance], [Paid], [Status], [ReceiptNo], [RefNo]) VALUES (N'bd6dd4e8-256e-4ada-aa00-1db33d95f92d', N'Function Room', N'3001', N'sefs', CAST(N'2016-06-21' AS Date), N'5', N'7:00AM', N'', CAST(N'2016-06-17 11:16:48.837' AS DateTime), CAST(5500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5500.00 AS Decimal(18, 2)), N'To Start', N'0000000001', NULL)
INSERT [dbo].[Reservation] ([ID], [Facility], [UnitNumber], [Purpose], [DateOfFuntion], [NoOfGuest], [Time], [ContactNo], [Date], [Amount], [Balance], [Paid], [Status], [ReceiptNo], [RefNo]) VALUES (N'a1f69395-85c8-47ea-92ae-33f8e9fc6ac5', N'Function Room', N'3001', N'Birthday celebration', CAST(N'2016-06-17' AS Date), N'20', N'9:00AM', N'09175214703', CAST(N'2016-06-17 10:22:51.577' AS DateTime), CAST(5500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5500.00 AS Decimal(18, 2)), N'To Start', NULL, NULL)
INSERT [dbo].[TenantArchive] ([ID], [UnitNumber], [StartOfOccupancy], [EndOfOccupancy], [NatureOfOccupancy], [TenantID]) VALUES (N'4e5c1667-3785-4040-9134-20899326b30c', N'3001', CAST(N'2016-05-16 16:12:27.797' AS DateTime), CAST(N'2016-05-16 16:12:27.793' AS DateTime), N'Tenant', N'e53e2e47-9ed4-4cdd-9eab-f4376e008572')
INSERT [dbo].[TenantArchive] ([ID], [UnitNumber], [StartOfOccupancy], [EndOfOccupancy], [NatureOfOccupancy], [TenantID]) VALUES (N'4e46e7c7-8b27-47c7-9b65-2d2ccec44bee', N'3001', CAST(N'2016-05-16 16:12:27.000' AS DateTime), CAST(N'2016-05-28 16:12:27.000' AS DateTime), N'Tenant', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[TenantArchive] ([ID], [UnitNumber], [StartOfOccupancy], [EndOfOccupancy], [NatureOfOccupancy], [TenantID]) VALUES (N'6bf41b8a-1460-4a08-b2e6-5b4bf44a5a09', N'3001', CAST(N'2016-05-16 16:12:27.000' AS DateTime), CAST(N'2016-05-28 16:12:27.000' AS DateTime), N'Tenant', N'c050a9f4-1197-4d91-8a21-f426571b7028')
INSERT [dbo].[UnitProfile] ([UnitNumber], [StartOfOccupancy], [ExpectedEndOfOccupancy], [Owner], [Tenant], [NatureOfOccupancy], [Type], [Floor]) VALUES (N'2001', CAST(N'2016-05-10 16:42:26.000' AS DateTime), CAST(N'2016-05-12 16:42:26.000' AS DateTime), N'ed85efde-9ad2-4c58-92ca-ce57a61698ae', N'00000000-0000-0000-0000-000000000000', N'Unit Owner', NULL, N'2')
INSERT [dbo].[UnitProfile] ([UnitNumber], [StartOfOccupancy], [ExpectedEndOfOccupancy], [Owner], [Tenant], [NatureOfOccupancy], [Type], [Floor]) VALUES (N'3001', CAST(N'2016-05-16 16:12:27.000' AS DateTime), CAST(N'2016-05-28 16:12:27.000' AS DateTime), NULL, N'c050a9f4-1197-4d91-8a21-f426571b7028', N'Tenant', NULL, N'3')
INSERT [dbo].[UserProfile] ([ID], [Username], [FirstName], [MiddleName], [LastName], [DateOfBirth], [MaritalStatus], [HomeAddress], [ProvincialAddress], [Password], [MobileNo], [TelephoneNo], [Email], [ContactPerson], [ContactNo], [RelationshipToContact], [ImageContent], [Status], [Type], [IfGeneratedPassword], [FullName]) VALUES (N'13d14d70-2325-4163-928a-3f104fde431b', N'admin', N'Ramil', N'Valencia', N'Ignacio', CAST(N'1993-08-10 00:00:00.000' AS DateTime), N'Single', N'Pasig', N'Pasig', N'admin', NULL, NULL, N'r@gmail.com', NULL, NULL, NULL, NULL, N'Y', N'admin', N'N', N'Ramil Charles')
INSERT [dbo].[UserProfile] ([ID], [Username], [FirstName], [MiddleName], [LastName], [DateOfBirth], [MaritalStatus], [HomeAddress], [ProvincialAddress], [Password], [MobileNo], [TelephoneNo], [Email], [ContactPerson], [ContactNo], [RelationshipToContact], [ImageContent], [Status], [Type], [IfGeneratedPassword], [FullName]) VALUES (N'13d14d70-2325-4163-928a-3f105fde431b', N'collector', N'Ramil', NULL, N'Ignacio', CAST(N'1993-08-10 00:00:00.000' AS DateTime), N'Single', N'Pasig', NULL, N'collector', NULL, NULL, N'r@gmail.com', NULL, NULL, NULL, NULL, N'Y', N'collector', N'N', N'Ramil Ignacio')
ALTER TABLE [dbo].[LogSheet]  WITH CHECK ADD  CONSTRAINT [FK_LogSheet_UserProfile] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[UserProfile] ([ID])
GO
ALTER TABLE [dbo].[LogSheet] CHECK CONSTRAINT [FK_LogSheet_UserProfile]
GO
ALTER TABLE [dbo].[LogSheetActivity]  WITH CHECK ADD  CONSTRAINT [FK_LogSheetActivity_LogSheet] FOREIGN KEY([ItemID])
REFERENCES [dbo].[LogSheet] ([ID])
GO
ALTER TABLE [dbo].[LogSheetActivity] CHECK CONSTRAINT [FK_LogSheetActivity_LogSheet]
GO
ALTER TABLE [dbo].[LogSheetActivity]  WITH CHECK ADD  CONSTRAINT [FK_LogSheetActivity_UserProfile] FOREIGN KEY([IssuedBy])
REFERENCES [dbo].[UserProfile] ([ID])
GO
ALTER TABLE [dbo].[LogSheetActivity] CHECK CONSTRAINT [FK_LogSheetActivity_UserProfile]
GO
ALTER TABLE [dbo].[MonthlyAssociationDue]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyAssociationDue_UnitProfile] FOREIGN KEY([UnitNumber])
REFERENCES [dbo].[UnitProfile] ([UnitNumber])
GO
ALTER TABLE [dbo].[MonthlyAssociationDue] CHECK CONSTRAINT [FK_MonthlyAssociationDue_UnitProfile]
GO
ALTER TABLE [dbo].[PaymentHistory]  WITH CHECK ADD  CONSTRAINT [FK_PaymentHistory_MonthlyAssociationDue] FOREIGN KEY([MonthlyAssocID])
REFERENCES [dbo].[MonthlyAssociationDue] ([ID])
GO
ALTER TABLE [dbo].[PaymentHistory] CHECK CONSTRAINT [FK_PaymentHistory_MonthlyAssociationDue]
GO
ALTER TABLE [dbo].[PaymentHistory]  WITH CHECK ADD  CONSTRAINT [FK_PaymentHistory_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ID])
GO
ALTER TABLE [dbo].[PaymentHistory] CHECK CONSTRAINT [FK_PaymentHistory_Reservation]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_UnitProfile] FOREIGN KEY([UnitNumber])
REFERENCES [dbo].[UnitProfile] ([UnitNumber])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_UnitProfile]
GO
ALTER TABLE [dbo].[TenantArchive]  WITH CHECK ADD  CONSTRAINT [FK_TenantArchive_UnitProfile] FOREIGN KEY([UnitNumber])
REFERENCES [dbo].[UnitProfile] ([UnitNumber])
GO
ALTER TABLE [dbo].[TenantArchive] CHECK CONSTRAINT [FK_TenantArchive_UnitProfile]
GO
ALTER TABLE [dbo].[WaterBilling]  WITH CHECK ADD  CONSTRAINT [FK_WaterBilling_UnitProfile] FOREIGN KEY([UnitNumber])
REFERENCES [dbo].[UnitProfile] ([UnitNumber])
GO
ALTER TABLE [dbo].[WaterBilling] CHECK CONSTRAINT [FK_WaterBilling_UnitProfile]
GO
