
@{
    ViewBag.Title = "Others";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" ng-controller="airController as vm" ng-init="initOthers()">
    <div class="x_content">
        <h3>Others</h3>

        <div ng-show="vm.Others.ShowModifiedBy != ' '">
            <small>Modified By: {{vm.Others.ShowModifiedBy}} - {{vm.Others.ShowModifiedDate}}</small>
        </div>

        <div class="form-group">
            <textarea rows="30" class="form-control" ng-disabled="main.CurrentUser.AccessLevel == 'U'"
                      ng-model="vm.Others.Value"></textarea>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="saveOthers(vm.Others)" ng-show="main.CurrentUser.AccessLevel == 'A'">
                <span ng-show="main.CurrentClient.ClientCode == 'NewClient' || vm.Others.ClientCode == null">Save</span>
                <span ng-show="main.CurrentClient.ClientCode != 'NewClient' && vm.Others.ClientCode != null">Update</span>
            </button>
        </div>
    </div>
</div>